<div class="bg-white">
  <div class="container">
    <h1 class="font-color">License Related Services</h1>
    <p>
      Various services related to new/old driving licence or learner's licence
      like Appointment Booking, Duplicate driving licence, Application Status,
      Online test for learner's licence, etc.
    </p>

    <div class="grid">
      <div class="card" *ngFor="let service of services">
        <img
          [alt]="'Icon representing ' + service.title"
          height="100"
          [src]="service.imageUrl"
          width="100"
        />
        <h2 class="font-color">{{ service.title }}</h2>
        <p>{{ service.description }}</p>
        <a  [routerLink]="service.route"><button class="bg-color">
          {{ service.buttonText }}
        </button></a>
      </div>
    </div>
  </div>
</div>
